*{
    margin: 0;
}
/* background på barca sidan*/
.fcb{
    width: 100%;
    background-size: 300% 300%;
    background: linear-gradient(45deg, rgb(147, 34, 34), rgb(43, 43, 167), rgb(96, 5, 96), rgb(147, 34, 34), rgb(43, 43, 167), rgb(96, 5, 96));
}

/* styling av header, mest texten*/
header{
    text-align: center;
    color: white;
    font-size: 70px;
    padding: 20px;
    font-weight: bold;
}
/* styling av varje artikel på barca sidan*/

.sectionFcb {
    background-color: rgb(147, 34, 34);
    margin: 40px;
    border-radius: 10px;
    border-color: rgb(223, 36, 36);
    border-style: solid;
    border-width: 3px;
    padding: 30px;
}

.sectionFcb h2{
    color: rgb(245, 197, 39); 
    font-size: 36px;
    text-align: center;
}
.sectionFcb img{
    height: 250px;
    margin: 10px;
    float: left;
}
.sectionFcb p{
    color: rgb(255, 228, 228);
    text-align: justify;
}
/* ändrar storlekar för att passa mobil enheter */
@media only screen and (max-width: 530px) {
    .sectionFcb img{
        width: 200px;
        float: center;
        height: 150px;
    }
    .sectionFcb p{
        font-size: 12px;
    }
    .sectionFcb{
        padding: 15px;
        margin: 20px;
    }
    header{
        font-size: 50px;
        padding-top: 50px;
    }
}


/* hamburgar styling för att få tre streck */
.btn-pins{
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,107,47,.2);
    transition: all .5s ease-in-out;
}
.btn-pins::before,
.btn-pins::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,107,47,.2);
    transition: all .5s ease-in-out;
}
.btn-pins::before {
    transform: translateY(-16px);
}
.btn-pins::after{
    transform: translateY(16px);
}
/* animation styling*/
.dropbtn.open .btn-pins{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.dropbtn.open .btn-pins::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.dropbtn.open .btn-pins::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
/* Dropdown Button */

.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: transparent;
  }
  
  /* Dropdown button on hover & focus */
  /*.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(245, 197, 39);
  }
  */
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    position: fixed;
    right: 0;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(245, 197, 39);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: fixed;
    right: 0;
    font-weight: bold;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color:rgb(192, 147, 1);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(138, 94, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(645, 227, 0);}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* styling startsida första bild animation*/

.startSida{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* start bild på sidan*/
#header{
    position: relative;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/wcwin.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ger hela startsidan svart backgrund*/
.startSida{
    background-color: black;
}
/* styling för fade in elements på startsida*/

.box{
    color: white;
    display: flex;
    align-items: center;
    width: 500px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.8s ease;
}

/* position av varannan*/
.box:nth-of-type(even) {
    transform: translateX(400%);
    margin-left: 650px;
}
.box:nth-of-type(odd) {
    transform: translateX(-400%);
    margin-right: 650px;
}
/* när bpxen ska visas*/
.box.show{
    transform: translateX(0);
}
.boxnoscript{
    transform: translateX(0);
}
/* div elementet där timeline ska visas*/
.timeline{
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 200px;
}

/* linje för tidslinje*/
.line {
    height: 2600px;
    width: 8px;
    z-index: 3;
    background-color: white;
    position: absolute;
    margin-left: 50%;
    margin-top: 300px;
}
/* bild storlek av boxarna*/
.box img{
   height: 150px;
   margin: 30px;
}
/* position av text i boxarna*/
.o{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.e{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.box-content h2{
    font-size: 62px;
    margin-bottom: 20px;
}
.box-content{
    font-size: 20px;
    text-align: end;
}
/* links on front page styling*/
.start-page a li{
    font-size: 18px;
    list-style: none;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    font-weight: bolder;
    border-radius: 30px;
    margin: 10px;
    color: white;
    padding: 10px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.start-page a{
    text-decoration: none;
}
/* knappar till höger i nav*/
.start-page{
    display: flex;
}
.start-page a li:hover{
    cursor: pointer;
    background-color: rgb(82, 122, 231);
}
/* styling för nav högst upp på startsidan*/
.start-nav{
    background-color: black;
    opacity: 80%;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    position:fixed;
    width: -webkit-fill-available;
}
/* styling och design för "loggan"/ namn på vänster sida*/
.logostart{
    font-size: 24px;
    margin-left: 20px;
    display:flex;
}
.logostart p{
    padding: 5px;
}

.logoBg{
    background:rgb(43, 43, 167);
    border-radius: 20px;
}
/* mediaquery för startsidan som ändrar när det blir mindre än 800px bredd, då börjar nav bar och bakgrunds bild bli för stora*/

@media only screen and (max-width: 800px){
    #header{
        background: url(../img/header.3.jpg);
        background-size: cover;
        background-position-x: center;
    }
    .logostart{
        font-size: 18px;
    }
    .start-page a li{
        font-size: 14px;
        padding: 5px;
        margin: 5px;
    }
    .box:nth-of-type(even) {
        margin-left: 560px;
    }
    .box:nth-of-type(odd) {
        margin-right: 560px;
    }
}

/* Mediaquery för startsidan som ändrar när det blir mindre än 920px, då blir tidslinjen för stor*/

@media only screen and (max-width: 920px){
    .line{
        width: 4px;
    }
    .box-content h2{
        font-size: 40px;
    }
    .box-content{
        font-size: 16px;
    }
    .box img{
        visibility: hidden;
    }
}

/* navbar längst ner på startsidan*/
.start-nav-nere{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    box-shadow: 0px 0px 40px white;    
}
/* styling för länkarna, och på hover*/
.start-nav-nere a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px;
}
.start-nav-nere a:after{
    content: "";
    position: absolute;
    background-color: rgb(26, 118, 138);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}
.start-nav-nere a:hover:after{
    width: 100%;
    transition: 0.3s linear;
}
.start-nav-nere a:hover{
    text-shadow: 6px 2px 5px rgb(26, 118, 138);
}
@media only screen and (max-width: 670px){
    .start-nav-nere{
        box-shadow: 0px 0px 20px white;
        margin-left: 10px;
        margin-right: 10px;
    }
    .start-nav-nere a{
        padding: 0 5px;
        font-size: 14px;
        margin: 10px;
    }
    #aboutUs{
        font-size: 24px;
    }
}
/* styling for about us info längst ner på startsidan*/
.AbUsSection{
    margin: 200px 40px 40px 40px;
    color: white;
    letter-spacing: 1px;
}
#aboutUs{
    font-size: 42px;
    text-shadow: -10px -5px 10px rgb(43, 87, 156);
}

/* background styling for the credits page*/
.creditsPage{
    height: 100vh;
    width: 100%;
    background-image: url(../img/jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
}
/* putting the content in front of backgrund + styling w flex of each section*/ 
.zIndex5 header{
    z-index: 5;
    font-size: 52px;
}
.creditSection{
    margin: 40px 0px 40px 0px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* size of text and picture on credti page*/
.creditSection img{
    height: 200px;
}
.creditSection p{
    font-size: 32px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .creditSection img{
        height: 100px;
    }
    .creditSection p{
        font-size: 20px;
    }
}
/* go back to index page link on top of other pages, FCB and Credits*/
.goBack{
    top: 0;
    float: left;
    margin: 10px;
    color: white;
    position: absolute;
    z-index: 6;
}
.goBack a{
    text-decoration: underline;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}